.logomenu
 {
  max-width: 10%;
 }




 .navbar {
  transition: all 0.3s ease;
}

.navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #ffc107; /* amarelo Bootstrap */
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}















.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #212529;
  color: #fff;
  z-index: 1000;
  border-top: 1px solid #444;
}

.bottom-nav .nav-item {
  color: #ccc;
  text-decoration: none;
  font-size: 12px;
}

.bottom-nav .nav-item i {
  font-size: 20px;
  display: block;
}

.bottom-nav .nav-item.active,
.bottom-nav .nav-item:hover {
  color: #ffc107;
}

