<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/resultados"  (click)="fecharMenu()">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classificacao"  (click)="fecharMenu()">Classificação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/premiacao"  (click)="fecharMenu()">Premiação Oficial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/regras"  (click)="fecharMenu()">Regras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->












<!--
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-warning" href="#">Cartolanos</a>

    <button class="btn btn-sm btn-outline-light ms-2" (click)="alternarModoEscuro()">
      🌙
    </button>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados" (click)="fecharMenu()">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classificacao" (click)="fecharMenu()">Classificação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/premiacao" (click)="fecharMenu()">Premiação Oficial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/regras" (click)="fecharMenu()">Regras</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->









<nav class="bottom-nav d-flex justify-content-around align-items-center">
  <a routerLink="/resultados" class="nav-item text-center">
    <i class="bi bi-bar-chart-line"></i>
    <span>Resultados</span>
  </a>
  <a routerLink="/classificacao" class="nav-item text-center">
    <i class="bi bi-list-ol"></i>
    <span>Classificação</span>
  </a>
  <a routerLink="/premiacao" class="nav-item text-center">
    <i class="bi bi-cash-coin"></i>
    <span>Premiação</span>
  </a>
  <a routerLink="/regras" class="nav-item text-center">
    <i class="bi bi-exclamation-circle"></i>
    <span>Regras</span>
  </a>
  <button class="btn btn-sm btn-outline-light ms-2" (click)="alternarModoEscuro()">
    🌙
  </button>

</nav>

