<div class="container d-flex flex-wrap justify-content-center sessao-regras">
  <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 1</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Todas as premiações da nossa liga seguem as regras oficiais do Cartola FC. Em caso de empate na pontuação final entre dois ou mais participantes, serão aplicados os critérios de desempate definidos pelo Cartola FC.</p>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 2</div>
      <div class="card-body">
        <h5 class="card-title">O Melhor da Rodada</h5>
        <p class="card-text">Em cada rodada, apenas o 1º colocado recebe o prêmio no valor de R$ 70,00.
          Em caso de empate entre dois ou mais times, será considerado o desempate oficial divulgado pelo Cartola FC. </p>
      </div>
    </div>
<!--     <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 3</div>
      <div class="card-body">
        <h5 class="card-title">Sobre a Liga Mata Mata</h5>
        <p class="card-text">Ao todo serão 5 ligas mata-mata e apenas o campeão de cada uma ganha o prêmio. As rodadas classificatórias serão as rodadas<br> 2 - 8 - 14 - 20 - 26.<br> Participará da liga o time que ficar entre os 32 melhores de cada rodada classificatória.</p>
      </div>
    </div> -->
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 3</div>
      <div class="card-body">
        <h5 class="card-title">Sobre o Turno</h5>
        <p class="card-text">Campeão do 1º turno - rodada 1 a 19.<br> Campeão do 2º turno - rodada 20 a 38.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 4</div>
      <div class="card-body">
        <h5 class="card-title">Grupo WhatsApp</h5>
        <p class="card-text">Está proibido comentar sobre política, pornografia ou qualquer outro assunto desnecessário que possa gerar desconforto ou mal-estar entre os participantes do grupo do WhatsApp.

          Evitem também o envio excessivo de figurinhas durante as comemorações do time do coração. Vamos manter o bom senso!

          Vamos manter o foco no futebol e preservar um ambiente respeitoso, leve e saudável para todos.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 5</div>
      <div class="card-body">
        <h5 class="card-title">Pagamento do Prêmio</h5>
        <p class="card-text">Todos os pagamentos serão realizados em até 24 horas após a divulgação do resultado oficial.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Agradecimento</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Desejo boa sorte a todos! É um prazer enorme contar com cada um de vocês aqui na liga. Espero que continuem com a gente, pois a cada ano essa família só cresce — e com isso, conseguimos melhorar ainda mais as premiações e a experiência de todos. 🙌⚽</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Dúvidas</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Qualquer dúvida, fico à disposição para esclarecer. É só entrar em contato comigo pelo WhatsApp. <br><br>

          Muito obrigado a todos!<br>
          Edy Carlos</p>
      </div>
    </div>
</div>


