<div class="container d-flex flex-wrap justify-content-center sessao-regras">
  <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 1</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Todas as premiações da nossa liga segue as regras usado pelo CARTOLA FC, ou seja, caso no final do campeonato dois participantes ou mais estiverem com mesma pontuação será usado o critério de desempate do Cartola.</p>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 2</div>
      <div class="card-body">
        <h5 class="card-title">O Melhor da Rodada</h5>
        <p class="card-text">Toda rodada apenas o 1º colocado ganha o prêmio no valor de R$40,00.<br> Novamente caso 2 ou mais times empatarem, o desempate será pela divulgação oficial do Cartola FC. </p>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 3</div>
      <div class="card-body">
        <h5 class="card-title">Sobre a Liga Mata Mata</h5>
        <p class="card-text">Ao todo serão 5 ligas mata-mata e apenas o campeão de cada uma ganha o prêmio. As rodadas classificatórias serão as rodadas<br> 2 - 8 - 14 - 20 - 26.<br> Participará da liga o time que ficar entre os 32 melhores de cada rodada classificatória.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 4</div>
      <div class="card-body">
        <h5 class="card-title">Sobre o Turno</h5>
        <p class="card-text">Campeão do 1º turno - rodada 1 até a 19.<br> Campeão do 2º turno - rodada 20 até a 38.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 5</div>
      <div class="card-body">
        <h5 class="card-title">Grupo WhatsApp</h5>
        <p class="card-text">Esta proibido no grupo do whatsApp comentar sobre política e outros assuntos desnecessários que possa vir gerar mal estar no grupo. Vamos manter o foco e comentar futebol.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Regra - 6</div>
      <div class="card-body">
        <h5 class="card-title">Pagamento do Prêmio</h5>
        <p class="card-text">Todos os pagamentos serão pago em no máximo 24hrs após o resultado oficial.</p>
      </div>
    </div>
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header">Agradecimento</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">A todos desejo boa sorte, é um prazer poder contar com vocês aqui na liga e espero contar sempre, pois a cada ano a família só aumenta e com isto conseguimos melhorar cada vez mais as premiações.</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Dúvidas</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Qualquer dúvida fico a disposição para esclarecer, só entrar em contato comigo no whatsApp.<br><br>Obrigado a todos, Edy Carlos.</p>
      </div>
    </div>
</div>


