<!-- MITO DA RODADA -->
<section class="melhor-da-rodada">
  <header class="titulo d-flex">
    <img class="logo" src="assets/img/logoCartolano.png" alt="">
    <h2>Liga dos Campeões Cartolanos 2025</h2>
  </header>
  <table class="table table-hover">
    <caption class="text-center">MITO DA RODADA</caption>
    <thead>
      <tr>
        <th style="width: 2%;">Rodada</th>
        <th style="width: 40%;">Time</th>
        <th style="width: 20%;">Prêmio</th>
        <th style="width: 20%;">Pontuação</th>
      </tr>
    </thead>
    <tbody *ngFor="let rodada of ListaRodada">
      <tr>
        <td>{{ rodada.rodada }}</td>
        <td class="d-flex align-items-center">
          <img class="imgEscudo" src="{{ rodada.img }}" alt="Time 1">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <strong>{{ rodada.time }}</strong>
            <span>{{ rodada.cartoleiro }}</span>
          </div>
        </td>
        <td style="color: #a34caf;">R$ 70,00</td>
        <td style="color: green;">{{ rodada.pontos }}</td>
      </tr>
    </tbody>
  </table>
</section>



<!-- TOP 5 -->
<section class="mt-5">
  <table class="table table-hover">
    <caption class="text-center">TOP 5 DO CAMPEONATO</caption>
    <thead>
      <tr>
        <th style="width: 2%;">#</th>
        <th style="width: 40%;">Time</th>
        <th style="width: 20%;">Prêmio</th>
        <th style="width: 20%;">Pontuação</th>
      </tr>
    </thead>
    <tbody *ngFor="let time of ListaTop5">
      <tr>
        <td>{{ time.rodada }}</td>
        <td class="d-flex align-items-center">
          <img class="imgEscudo" src="{{ time.img }}" alt="Time 1">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <strong>{{ time.time }}</strong>
            <span>{{ time.cartoleiro }}</span>
          </div>
        </td>
        <td style="color: #a34caf;">{{ time.premio }}</td>
        <td style="color: green;">{{ time.pontos }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- MITO DO ANO -->
<section>
  <table class="table table-hover">
    <caption class="text-center">MITO DO ANO</caption>
    <thead>
      <tr>
        <th style="width: 2%;">Rodada</th>
        <th style="width: 40%;">Time</th>
        <th style="width: 20%;">Prêmio</th>
        <th style="width: 20%;">Pontuação</th>
      </tr>
    </thead>
    <tbody *ngFor="let mito of ListaMito">
      <tr>
        <td>{{ mito.rodada }}</td>
        <td class="d-flex align-items-center">
          <img class="imgEscudo" src="{{ mito.img }}" alt="Time 1">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <strong>{{ mito.time }}</strong>
            <span>{{ mito.cartoleiro }}</span>
          </div>
        </td>
        <td style="color: #a34caf;">R$ 230,00</td>
        <td style="color: green;">{{ mito.pontos }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- TIME MAIS RICO -->
<section>
  <table class="table table-hover">
    <caption class="text-center">TIME MAIS RICO</caption>
    <thead>
      <tr>
        <th style="width: 40%;">Time</th>
        <th style="width: 20%;">Prêmio</th>
        <th style="width: 20%;">C$</th>
      </tr>
    </thead>
    <tbody *ngFor="let rico of ListaMaisRico">
      <tr>
        <td class="d-flex align-items-center">
          <img class="imgEscudo" src="{{ rico.img }}" alt="Time 1">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <strong>{{ rico.time }}</strong>
            <span>{{ rico.cartoleiro }}</span>
          </div>
        </td>
        <td style="color: #a34caf;">R$ 230,00</td>
        <td style="color: green;">$ {{ rico.cartoletas }}</td>
      </tr>
    </tbody>
  </table>
</section>





<!-- 1º TURNO CAMPEÃO -->
<section>
  <table class="table table-hover">
    <caption class="text-center">CAMPEÃO DO 1º TURNO</caption>
    <thead>
      <tr>
        <th style="width: 2%;">Rodada</th>
        <th style="width: 40%;">Time</th>
        <th style="width: 20%;">Prêmio</th>
        <th style="width: 20%;">Pontuação</th>
      </tr>
    </thead>
    <tbody *ngFor="let turno1 of ListaTurno1">
      <tr>
        <td>{{ turno1.rodada }}</td>
        <td class="d-flex align-items-center">
          <img class="imgEscudo" src="{{ turno1.img }}" alt="Time 1">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <strong>{{ turno1.time }}</strong>
            <span>{{ turno1.cartoleiro }}</span>
          </div>
        </td>
        <td style="color: #a34caf;">R$ 230,00</td>
        <td style="color: green;">{{ turno1.pontos }}</td>
      </tr>
    </tbody>
  </table>
</section>
