

<section class="premiacao-oficial-geral imagem" id="img01">
  <div class="container title-premiacao-geral">
    <h2>Premiação Oficial do Anual</h2>
</div>
  <div class="container mt-3 ">
      <table class="table table-light table-striped table-hover">
          <thead>
            <tr>
              <th class="head-table" scope="col" colspan="2">Posição</th>
              <th class="head-table" scope="col" colspan="2">Valor do Prêmio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" colspan="2">1º Lugar Geral</th>
              <td colspan="2">R$1.200,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">2º Lugar Geral</th>
              <td colspan="2">R$700,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">3º Lugar Geral</th>
              <td colspan="2">R$385,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">4º Lugar Geral</th>
              <td colspan="2">R$250,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">5º Lugar Geral</th>
              <td colspan="2">R$150,00</td>
            </tr>
           <!--  <tr>
              <th scope="row" colspan="2" style="color: blue;">Total</th>
              <td colspan="2" style="color: blue;">R$2.685,00</td>
            </tr> -->
          </tbody>
        </table>
  </div>
</section>

<section class="premiacao-oficial-extra imagem" id="img01">
  <div class="container title-premiacao">
    <h2>Premiações Extras</h2>
</div>
  <div class="container mt-3 ">
      <table class="table table-light table-striped table-hover">
          <thead>
            <tr>
              <th class="head-table" scope="col" colspan="2">Posição</th>
              <th class="head-table" scope="col" colspan="2">Valor do Prêmio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" colspan="2">Campeão 1º Turno</th>
              <td colspan="2">R$230,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Campeão 2º Turno</th>
              <td colspan="2">R$230,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Mitada do Ano</th>
              <td colspan="2">R$230,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Time Mais Rico</th>
              <td colspan="2">R$230,00</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Campeão da Rodada</th>
              <td colspan="">R$70,00</td>
            </tr>
            <!-- <tr>
              <th scope="row" colspan="2" style="color: blue;">Total</th>
              <td colspan="2" style="color: blue;">R$3.010,00</td>
            </tr> -->
          </tbody>
        </table>
  </div>
</section>

